/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Source+Sans+3:wght@500;600;700&family=Teko:wght@300;400&display=swap');



/* Wildcard selector to remove any browser fotmatting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Cousine', monospace;
}

/*Header */
.navbar {
    display: flex;
    width: 100%;
    background-color: rgb(58, 53, 53);
    justify-content: space-between;
    padding-right: 1rem;
    align-items: center;
    position: fixed;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    letter-spacing: 2px;
}

.navbar a:hover {
    background-color: lightgray;
    text-decoration: underline;
}




.logo {
    font-size: 220%;
    letter-spacing: -4px;
    margin-left: 1rem;
}



/*Main */
main {
    flex: 1 0 auto;
    margin-top: 47px;
}

#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/jason-briscoe-k21a9naJr04-unsplash.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-headings {
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: 500px;
    margin: 0 auto;
    background-color: gray;
}

#container p {
    /* display: block; */
    text-align: left;
    padding: 2rem 1rem 0 1rem;
    width: 100%;
    height: 150px;
    font-size: 130%;
    font-weight: 400;
    letter-spacing: 1.5px  ;
}

.about-us-details {
    display: flex;
    padding-top: 3rem;

} 

/*  Footer*/
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: auto;
}


.address-dublin {
    height: auto;
    width: 200px;
    text-align: center;
    letter-spacing: 2px;
}

.socials {
    min-height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    letter-spacing: 4rem; 
    align-items: center;
  }

.address-cork {
    height: auto;
    width: 200px;
    text-align: center;
    letter-spacing: 2px;
}

#social-links {
    display: flex;
    list-style-type: none;
}

#social-links i {
    color: black;
    font-size: 230%;
}

#social-links li {
    justify-content: center;
}

/*  Media query for screens up to 600px */ 
@media (max-width: 600px) {

    .navbar,
    .nav-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Media querys for larger screens */
/* @media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        align-items: center;
        flex-direction: column;
    }
    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }
} */

