/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Source+Sans+3:wght@500;600;700&family=Teko:wght@300;400&display=swap');



/* Wildcard selector to remove any browser fotmatting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Cousine', monospace;
}

/*Header */
section {
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 0 1rem;    
    display: flex;
    justify-content: space-between;
    font-size: 120%;
    align-items: center;
    position: fixed;
}

.logo {
    font-family: 'Teko', sans-serif;
    letter-spacing: -2px;
    font-size: 190%;
    color: black;
}

section a {
    text-decoration: none;
}

a:hover {
    background-color: lightgray;
}

#menu li {
    list-style-type: none;
    padding-bottom: 8px;
}

#menu li a {
    color: rgba(21, 20, 20, 0.778);
    letter-spacing: 2px;
}


/*Main */
main {
    flex: 1 0 auto;
    margin-top: 47px;
}

#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/jason-briscoe-k21a9naJr04-unsplash.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.hero-headings {
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

/*  Footer*/
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: auto;
}


.address-dublin {
    height: auto;
    width: 200px;
    text-align: center;
    letter-spacing: 2px;
}

.socials {
    min-height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    letter-spacing: 4rem; 
    align-items: center;
  }

.address-cork {
    height: auto;
    width: 200px;
    text-align: center;
    letter-spacing: 2px;
}

#social-links {
    display: flex;
    list-style-type: none;
}

#social-links i {
    color: black;
    font-size: 230%;
}

#social-links li {
    justify-content: center;
}

/*  Media quety for screens up to 600px */ 
@media (max-width: 600) {

}

/* Media querys for larger screens */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        align-items: center;
        flex-direction: column;
    }
    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }
}

