/* Wildcard selector to remove any browser fotmatting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Header */
header {
    background-color: lightcoral;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: darkgray;
    justify-content: space-between;
    padding-right: 1rem;
    align-items: center;
    position: fixed;
}

navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    letter-spacing: 2px;
}

/* Main */
main {
    background-color: lightblue;
    flex: 1 0 auto;
}

/*  Footer*/
footer {
    background-color: orange;
}


